<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>灿若星辰</string>
		<key>filename</key>
		<string>灿若星辰.mp3</string>
		<key>singer</key>
		<string>面孔乐队</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>灿若星辰.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SNH48鞠倩伟</string>
		<key>filename</key>
		<string>落花成泥.mp3</string>
		<key>singer</key>
		<string>聆听</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>落花成泥.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>许嵩</string>
		<key>filename</key>
		<string>明智之举.mp3</string>
		<key>singer</key>
		<string>慢慢地静下来</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>明智之举.jpeg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>奋斗</string>
		<key>filename</key>
		<string>那是你离开了北京的生活.mp3</string>
		<key>singer</key>
		<string>静听</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>那是你离开了北京的生活.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>许嵩</string>
		<key>filename</key>
		<string>如约而至.mp3</string>
		<key>singer</key>
		<string>安稳</string>
		<key>singerIcon</key>
		<string>lkq_icon.jpg</string>
		<key>icon</key>
		<string>如约而至.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>爱情公寓</string>
		<key>filename</key>
		<string>我的未来式 (《爱情公寓》十周年合唱版).mp3</string>
		<key>singer</key>
		<string>怀念</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>我的未来式.jpeg</string>
	</dict>
</array>
</plist>
