<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>催眠曲</string>
		<key>filename</key>
		<string>222.mp3</string>
		<key>singer</key>
		<string>放轻松</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>MImage.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>催眠曲</string>
		<key>filename</key>
		<string>777.mp3</string>
		<key>singer</key>
		<string>聆听</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>MImage.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>催眠曲</string>
		<key>filename</key>
		<string>555.mp3</string>
		<key>singer</key>
		<string>慢慢地静下来</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>MImage.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>催眠曲</string>
		<key>filename</key>
		<string>888.mp3</string>
		<key>singer</key>
		<string>静听</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>MImage.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>催眠曲</string>
		<key>filename</key>
		<string>444.mp3</string>
		<key>singer</key>
		<string>安稳</string>
		<key>singerIcon</key>
		<string>lkq_icon.jpg</string>
		<key>icon</key>
		<string>MImage.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>催眠曲</string>
		<key>filename</key>
		<string>666.mp3</string>
		<key>singer</key>
		<string>进入自己梦境</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>MImage.jpg</string>
	</dict>
</array>
</plist>
